body{
    background-image: url(stock-hosp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.header{
    height: 120px;
    overflow: hidden;
    background-color: red;

    display: grid;
    grid-template-columns: 1fr auto 1fr;

    align-items: center;
    width: 100%;
}

.left{
    justify-self: start;
    margin-left: 75px;
}

.center{
    display: flex;
    gap: 20px;

    justify-self: center;
    font-size: larger;
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 65vh;
}
.lrc, .rrl{
    display:flex;
    justify-content: center;
    align-items: center;
}
.bobox{
    width: 85%;
    height: 375px;
    background: #eee;
    border: 5px solid black;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.Ann{
    letter-spacing: 2px;
    margin-top: 18px;
    font-size: 48px;
}

.bibox{
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 110px;
    margin-top: -150px
}
.footer{
    height: 200px;
}
.fobox{
    display: flex;
    justify-content: center;
}
.fibox{
    margin-top: 40px;
    background-color: white;
    border-radius: 50px;
    width: 700px;
    height: 60px;
    text-align: center;
    font-size: x-large;
}
#csa{
    margin-top: 17px
}
